#content {
    font: 'Consolas', 'Courier New', 'monospace';
}

.inspect-title {
    font-weight: bold;
    padding-top: 0.5rem;
}

.inspect-item {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
